* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Manjari Bold';
    src: url("../Fonts/MANJARI-BOLD.TTF");
}

@font-face {
    font-family: 'Manjari Regular';
    src: url("../Fonts/MANJARI-REGULAR.TTF");
}

@font-face {
    font-family: 'Manjari Thin';
    src: url("../Fonts/MANJARI-THIN.TTF");
}

:root {
    --font-family-bold: 'Manjari Bold';
    --font-family-regular: 'Manjari Regular';
    --font-family-thin: 'Manjari Thin';
    --cor-laranja: #EE9C29;
    --background-color: #f5f5f5;
}

.saudacao_texto{
    font-family: var(--font-family-regular);
    margin-top: 55px;
    font-size: 42px;
    text-align: center;
    color: var(--cor-laranja);
}


/* Mobile (menor que 768px) */
@media (max-width: 768px) {
    .saudacao_texto{
        font-size: 28px;
    }

}